.back-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1F64E7;
    color: #fff;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: background-color 0.3s ease;
}

.back-icon:hover {
    background-color: #0056b3;
}

.larger-image {
    width: 40vw; /* Adjust the width to your desired size */
    height: 40vw; /* Adjust the height to your desired size */
  }
  
  .link-style {
    text-decoration: none;
  }

.copy-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.add-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1F64E7;
    color: #fff;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: background-color 0.3s ease;
}

.add-icon:hover {
    background-color: #0056b3;
}
  
.post-time {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.post-title-wrap {
    white-space: normal;
    word-wrap: break-word;
  }
  
  .larger-image {
    width: 40vw; /* Adjust the width to your desired size */
    height: 40vw; /* Adjust the height to your desired size */
  }